@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins';
    background: black;
    overflow-x: hidden;
}

nav{
    width: 100%;
    padding: 10px 0;
}

nav .menu{
    max-width: 1150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu ul{
    display: inline-flex;
}

.menu ul li{
    list-style: none;
    margin-left: 7px;
}

.menu ul li a{
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    margin-left: 7px;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    color: aliceblue;
}

.menu{
    position: relative;
    top: 25px;
    text-decoration: none;
    
}

.menu .logo a{
    text-decoration: none;
    font-family: 'Poppins';
    text-decoration: none;
    color: aliceblue;
}

.title{
    position: relative;
    top: 140px;
    left: 100px;
    font-size: 100px;
    color: white;
}

.text{
    position: relative;
    top: 175px;
    left: 104px;
    color: aliceblue;
}

.button a{
    display: inline-flex;
    position: relative;
    top: 230px;
    left: 104px;
    color: rgb(0, 0, 0);
    background-color: white;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
}

.img01{
    position: relative;
    top: 375px;
    text-align: center;
    font-size: 50px;

}

.desc{
    position: relative;
    top: 475px;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
}

.img02{
    position: relative;
    top: 585px;
    left: 104px;
    float: left;
    
}

.imgdesc02{
    position: relative;
    float: right;
    left: 100px;
    top: 200px;
    color: white;
}

.img03{
    position: relative;
    top: 750px;
    left: -103px;
    float: right;
    
}

.imgdesc03{
    position: relative;
    float: left;
    left: -200px ;
    top: 200px;
    color: white;
}

.img04{
    position: relative;
    top: 885px;
    left: 104px;
    float: left;
    
}

.imgdesc04{
    position: relative;
    float: right;
    left: 100px;
    top: 200px;
    color: white;
}

footer{
    position: relative;
    top: 2300px;
    color: white;
}

.footer{
    position: relative;
    top: 200px;
}


.what{
    position: relative;
    left: -600px;
}

.what ul li{
    list-style: none;
    text-decoration: none;
    padding: 8px 15px;
}

.being{
    position: relative;
    left: -400px;
    top: -105px;
}

.being ul li{
    list-style: none;
    padding: 8px 15px;
}

.social img{
    position: relative;
    left: 80px;
    display: inline-flex;
    padding: 15px;
}